* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	width: 40%;
	height: 60vh;
	background: #aed6dc;
	margin-top: 6em;
}

h1 {
	color: #4a536b;
	padding: 1em;
}

input {
	width: 70%;
}



