{% extends 'base.html' %}

{% block content %}
	<h1> {%block title %} Url Shortener {% endblock %} </h1>
	<form method "post">
		<div class="input-group mb-3">
			<input type="text" name='url' value="{{ request.form['url'] }}" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"/>
			<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Shorten it!</button>
		</div>
	</form>

	{% if short_url %}
	<hr>
	<span> {{ short_url }} </span>
	{% endif %}
{% endblock %}